<div id="navBar">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <span class="navbar"></span>
      <a href="compontent-1.component.html"><img src="favicon.ico" /></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="compontent-1.component.html"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Approfondisci</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contatti</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<h1>Ciao Compontent1</h1>
<p>Questo è il sottotitolo del Component1 works!</p>
