<nav class="navbar navbar-expand-lg bg-black sticky-top">
  <div class="container-fluid">
    <div class="img-fluid" id="image">
      <a routerLink=""><img src="assets/img/logo.png" /></a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-white ms-3"
            routerLink=""
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item text-white">
          <a
            class="nav-link text-white"
            routerLink="/fiat"
            routerLinkActive="router-link-active"
            >Fiat</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/ford"
            routerLinkActive="router-link-active"
            >Ford</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/audi"
            routerLinkActive="router-link-active"
            >Audi</a
          >
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search..."
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
    </div>
  </div>
</nav>
