<footer class="footer bg-black text-white">
  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col-md-4 text-center">
        <a [routerLink]="['/']" routerLinkActive="router-link-active">
            <img src="assets/img/logo.png" alt="Logo" class="logo mb-0 mt-2" /></a>
        <p class="mb-0">Il tuo autosalone di fiducia</p>
        <p class="mb-0">Via Tal dei Taili, 25</p>
        <p class="mb-0">00100 Torino</p>
        <p class="mb-0">
          <img
            src="https://img.icons8.com/ios/50/000000/phone.png"
            class="bg-white mx-1"
            alt="Icona telefono"
            width="20px"
            height="20px"
            style="vertical-align: middle"
          />
          <span style="vertical-align: middle"> 3381010101</span>
        </p>
        <p class="mb-0">
          <img
            src="https://img.icons8.com/ios/50/000000/new-post.png"
            class="bg-white p-1 mx-2"
            alt="Icona email"
            width="20px"
            height="20px"
            style="vertical-align: middle"
          />
          <span style="vertical-align: middle">info@autorent.com</span>
        </p>
        <br>
      </div>

      <div class="col-md-4" id="footer">
        <a
          class="nav-link active text-white ms-3 d-inline-block"
          routerLink=""
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          id="custom-margin"
          >Home
        </a>
        <span> | </span>
        <a
          class="nav-link text-white ms-3 d-inline-block"
          routerLink="/fiat"
          routerLinkActive="router-link-active"
          id="custom-margin"
          >Fiat
        </a>
        <span> | </span>
        <a
          class="nav-link text-white ms-3 d-inline-block"
          routerLink="/ford"
          routerLinkActive="router-link-active"
          id="custom-margin"
          >Ford
        </a>
        <span> | </span>
        <a
          class="nav-link text-white ms-3 d-inline-block"
          routerLink="/audi"
          routerLinkActive="router-link-active"
          id="custom-margin"
          >Audi</a
        >
      </div>

      <div class="col-md-4" id="lorem">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur
        tincidunt nibh id mattis. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Quidem obcaecati beatae ullam aspernatur iste in totam
        corrupti. Dolorem optio ipsa obcaecati modi tenetur sapiente nam quas,
        laudantium iusto. Ab, voluptatibus.
      </div>
    </div>
  </div>
</footer>
